<!-- Generated template for the QueueLogComponent component -->
<ion-card>
  <ion-card-content>
    <ion-list text-wrap>
      <ion-item>
        <h2>Button click time:</h2>
        <p>{{log.clickDate.toISOString()}}</p>
      </ion-item>
      <ion-item>
        <h2>Process start with delay:</h2>
        <p>{{((log.startDate.getTime() - log.clickDate.getTime()) / 1000)}}</p>
      </ion-item>
      <ion-item>
        <h2>Seconds before click, in:</h2>
        <p>{{log.startDate.toISOString()}}</p>
      </ion-item>
      <ion-item>
        <h2>Process time:</h2>
        <p>{{((log.endDate.getTime() - log.startDate.getTime()) / 1000)}}</p>
      </ion-item>
      <ion-item>
        <h2>End process time:</h2>
        <p>{{log.endDate.toISOString()}}</p>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
