<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic RxJS
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item-group>
    <ion-item-divider color="primary">Docs</ion-item-divider>
    <ion-item>
      <a target="_blank" href="http://ionicframework.com/docs/v3">Ionic docs</a>
    </ion-item>
    <ion-item>
      <a target="_blank" href="https://rxjs-dev.firebaseapp.com/guide/overview">RxJS overview</a>
    </ion-item>
  </ion-item-group>
  <ion-item-group>
    <ion-item-divider color="primary">Examples</ion-item-divider>
    <ion-item>
      <a title="queue" (click)="navCtrl.push('QueuePage')">Queue</a>
    </ion-item>
  </ion-item-group>
</ion-content>
