<!--
  Generated template for the QueuePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Queue</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button (click)="addQueueItem()">Click me!</button>
  <button [disabled]="!logs.length" ion-button color="secondary" (click)="clearLogs()">Clear logs</button>
  <ion-list *ngIf="logs.length">
    <ion-list-header>Logs</ion-list-header>
    <queue-log *ngFor="let log of logs" [log]="log"></queue-log>
  </ion-list>
</ion-content>
